<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Created</th>
      <th>Shipping</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let orderWithItems of ordersWithItems$ | async">
      <td width="40%">
        <p>{{ orderWithItems.order.description }}</p>
        <ul>
          <ng-container *ngFor="let item$ of orderWithItems.items; index as i">
            <li *ngIf="item$ | async as item; else loading">
              {{ orderWithItems.order.items[i].quantity }}x {{ item.name }}
            </li>
            <ng-template #loading>
              <li>
                ...
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </td>
      <td width="40%">{{ orderWithItems.order.created | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td *ngIf="orderWithItems.order.shippingCreated$ | async; else empty"><i class="fa fa-check"></i></td>
      <ng-template #empty>
        <td> </td>
      </ng-template>
    </tr>
  </tbody>
</table>