$primary-color: #FF584F;
$background-color: #F9F8F6;
$alternative-background-color: #868686;

$header-height: 50px;

$gap: 25px;

$border-radius: 6px;

$menu-width: 80px;
$submenu-width: 200px;

$menu-height: 65px;
$submenu-height: 180px;

$transition-duration: 0.3s;
